<div class="game-container">
    <h1>Tic Tac Toe</h1>
    
    <div class="status">
      <ng-container *ngIf="winner$ | async as winner; else nextPlayer">
        Winner: {{ winner }}
      </ng-container>
      <ng-template #nextPlayer>
        Next Player: {{ (xIsNext$ | async) ? 'X' : 'O' }}
      </ng-template>
    </div>

    <div class="board">
      <app-square
        *ngFor="let value of board$ | async; let i = index"
        [value]="value"
        [isWinning]="isWinningSquare(i)"
        (click)="makeMove(i)">
      </app-square>
    </div>

    <button class="reset-button" (click)="resetGame()">Reset Game</button>
  </div>